In [4]:
import pandas as pd
import datetime
import math

In [5]:
id_series = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
name_series = pd.Series(['joe', "bob", "jeff", "rick", "Carl", "Sam", "ashley", "jessica", "lexi", "angelica"])
salary_series = pd.Series([12345, 23456, 34567, 45678, 56789, 67890, 78901, 89012, 90123, 11234])
department_series = pd.Series(['engineering', 'comms', 'ops', 'engineering', 'comms', 'ops', 'engineering', 'comms', 'ops', 'engineering'])
employee_start_date = pd.Series([datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23), datetime.datetime(2000, 3, 23)])
employed_series = pd.Series([True, True, True, True, True, True, True, True, True, True,])

In [20]:
Active = pd.DataFrame({
    'Names': name_series,
    "Salary": salary_series,
    'Employee Start Date': employee_start_date,
    'employed': employed_series
})

average = Active['Salary'].mean()
sum = Active['Salary'].sum()
min = Active['Salary'].min()
max = Active['Salary'].max()

print(average, sum, min, max)

Department = pd.DataFrame({
    'Names': name_series,
    'Department': department_series
})

new_df = Department.merge(Active, on="Names")
print(new_df)

new_df['Salary'] = (new_df['Salary'] + (new_df['Salary'] * .1)).round()

print(new_df)

50999.5 509995 11234 90123
      Names   Department  Salary Employee Start Date  employed
0       joe  engineering   12345          2000-03-23      True
1       bob        comms   23456          2000-03-23      True
2      jeff          ops   34567          2000-03-23      True
3      rick  engineering   45678          2000-03-23      True
4      Carl        comms   56789          2000-03-23      True
5       Sam          ops   67890          2000-03-23      True
6    ashley  engineering   78901          2000-03-23      True
7   jessica        comms   89012          2000-03-23      True
8      lexi          ops   90123          2000-03-23      True
9  angelica  engineering   11234          2000-03-23      True
      Names   Department   Salary Employee Start Date  employed
0       joe  engineering  13580.0          2000-03-23      True
1       bob        comms  25802.0          2000-03-23      True
2      jeff          ops  38024.0          2000-03-23      True
3      rick  engineering  50246.0          2000-03-23      True
4      Carl        comms  62468.0          2000-03-23      True
5       Sam          ops  74679.0          2000-03-23      True
6    ashley  engineering  86791.0          2000-03-23      True
7   jessica        comms  97913.0          2000-03-23      True
8      lexi          ops  99135.0          2000-03-23      True
9  angelica  engineering  12357.0          2000-03-23      True